body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#container{
height: 98vh;
width: 30%;
margin: auto;
border-width: 3px 10px 12px 0; /* establece el ancho del borde */
border-style: solid;/* establece el estilo del borde*/
border-color: #b1aeae; /* esteblece el color del borde*/
background: radial-gradient( at right top, #2A6173, #AEC3CD);
position: relative;

}
#encabezado{   
color: white;
padding: 10% 10% 45% 10% ;
}

#encabezado h1{
    font: 1.5em sans-serif;
    margin: 2px;
}

#encabezado h2{
    font: 1.1em sans-serif;
    margin: 2px;
}


#contenido{
    height: 72vh;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 50px 0;

}

#columna{
    position: absolute;
    top: 0;
    left: 5%;
    background-color: #283D3D;
    width: 35%;
    height: 100%;

}

.circulo{
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient( at right top, #818083, #949599);
    border-radius: 50%;
    
}

#c-1{
    top: 9px;
    left: 7px;  
width: 45px;

}

#c-2{
    width: 80px;
    height: 80px;
    background-color: #a9abac;
    top: 120px;
    left: 142px;
}

#c-3{
    width: 25px;
    height: 25px;
    background-color: #d1d1d1;
    bottom: 210px;
    right: 10px;
}

#c-4{
    width: 120px;
    height: 120px;
    background-color: #c5c0c0;
    bottom: 120px;
    right: 35px;
}

#columna >img{
    width: 80%;
    margin-left: 5%;
    border-radius: 50%;
    z-index: 10;

}

